<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/homePage.css">
    <script src="../js/homePage.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src=""></script>
    <title>主体</title>
</head>
<body>
    <div class="container-fiuld">
        <div class="navBox">
            <div class="imgBox">

            </div>
            <ul class="list-group nav nav-pills nav-stacked" id="navList">
                <li><a src="userDetail.html">我的信息</a></li>
                <li><a src="changeMessage.html">更改信息</a></li>
                <li><a id="friend">我的好友</a></li>
                <ul class="list-group nav nav-pills nav-stacked" id="friendList">
                </ul>
            <br>

        </div>
        <div class="content">
            <div class="header">
                <h1>网络通讯系统</h1>
            </div>
            <div class="frame">
                <iframe src="userDetail.html"></iframe>
            </div>
            <div class="footer">
                <p>aster 版权所有</p>
                <p>copyright©2018-2022,all right reserved</p>
            </div>
        </div>
    </div>
</body>
</html>
    <script src=""></script>
    <title>主体</title>
</head>
<body>
    <div class="container-fiuld">
        <div class="navBox">
            <div class="imgBox">

            </div>
            <ul class="list-group nav nav-pills nav-stacked" id="navList">
                <li><a src="userDetail.html">我的信息</a></li>
                <li><a src="changeMessage.html">更改信息</a></li>
                <li><a id="friend">我的好友</a></li>
                <ul class="list-group nav nav-pills nav-stacked" id="friendList">
                </ul>
            <br>

        </div>
        <div class="content">
            <div class="header">
                <h1>网络通讯系统</h1>
            </div>
            <div class="frame">
                <iframe src="userDetail.html"></iframe>
            </div>
            <div class="footer">
                <p>aster 版权所有</p>
                <p>copyright©2018-2022,all right reserved</p>
            </div>
        </div>
    </div>
</body>
</html>